fastapi
uvicorn
pandas
requests
praw
transformers
pymongo
python-multipart
python-dotenv
passlib==1.7.4
python-jose[cryptography]
scipy
bcrypt==4.0.1
apscheduler
beautifulsoup4
pyspark == 3.4.1
llama-index-llms-ollama
pydantic>=2.0.0
httpx >= 0.25.0
kafka-python==2.0.2
sentence-transformers
scikit-learn
numpy
faiss-cpu
